<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>getstudents</title>
</head>
<body>
    {% for student in students %}
        <li>{{ student.s_name }}</li>
    {% endfor %}
    <hr>
    {{ count }}
    <hr>
    {% widthratio count 5 1 %}
    <hr>
    {% widthratio count 1 5 %}
    <hr>
    {{ students.0.s_name }}
    <hr>
    {% for student in students %}
        {% ifequal forloop.counter 5 %}
            <li style="color: red">{{ forloop.counter }}{{  student.s_name }}</li>
        {% else %}
            <li style="color: blue">{{ student.s_name }}</li>
        {% endifequal %}
    {% endfor %}
    <hr>
    {% for student in students %}
        {% if forloop.counter|divisibleby:2 %}
            <li style="color: red">{{ student.s_name }}</li>
        {% else %}
            <li style="color: blue">{{ student.s_name }}</li>
        {% endif %}
    {% endfor %}




</body>
</html>