{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
    <script type="text/javascript" src="{% static 'js/login.js' %}"></script>
</head>
<body>
<form action="{% url 'App:login' %}" method="post">
    {% csrf_token %}
    用户名：<input type="text" name="username">
    <br>
    <img src="{% url 'App:getcode' %}" alt="验证码">
    <br>
    验证码：<input type="text" name="verifycode">
    <br>
{#    <button>登录</button>#}
    <input type="submit" value="登录" id="submit" onclick="">
</form>
</body>
</html>